.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--black);
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  color: var(--grey);
  font-weight: 600;
  font-size: 1rem;
}

.link:hover {
  color: var(--violet);
  transition: all 0.3s;
}

.resp_drawer {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 1.5rem;
  }
  .logo {
    font-size: 1rem;
  }
  .link {
    font-size: 0.8rem;
  }
  .links {
    display: none;
  }
  .resp_drawer {
    display: block;
  }
  .drawer-links {
    background-color: var(--black);
    width: 40vw;
    height: 100vh;
    padding: 1.5rem;
  }
}
